<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tansci.mapper.HomeMapper">

    <select id="logStatistics" parameterType="com.tansci.dto.HomeDto" resultType="com.tansci.vo.LogStatisticsVo">
        SELECT count(li.id) operationNum, le.errorNum , ll.loginNum
        FROM log_info li
        INNER JOIN(
            SELECT count(1) errorNum FROM log_error_info
            <where>
                <if test="dto.userId != null and dto.userId != ''">
                    AND user_id = #{dto.userId}
                </if>
            </where>
        ) le INNER JOIN(
            SELECT count(1) loginNum FROM login_log
            <where>
                <if test="dto.userId != null and dto.userId != ''">
                    AND user_id = #{dto.userId}
                </if>
            </where>
        ) ll
        <where>
            <if test="dto.userId != null and dto.userId != ''">
                and li.user_id = #{dto.userId}
            </if>
        </where>
    </select>

</mapper>