<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tansci.admin.mapper.SysMenuMapper">

    <select id="list" resultType="com.tansci.admin.api.domain.SysMenu" parameterType="com.tansci.admin.api.dto.SysMenuDto">
        SELECT `id`, `name`, `parent_id`, `chinese_name`, `english_name`, `status`, `type`, `url`, `icon`, `level`, `sort`, `update_time`, `create_time`, `remarks`, `role_id`
        FROM (
        <choose>
            <when test="dto.userType == 1">
                <if test="dto.roleId != null and dto.roleId != ''">
                    SELECT `id`, `name`, `parent_id`, `chinese_name`, `english_name`, `status`, `type`, `url`, `icon`, `level`, `sort`, `update_time`, `create_time`, `remarks`, m.id as role_id
                    FROM sys_menu m
                    LEFT JOIN sys_menu_role mr on mr.menu_id = m.id
                    WHERE mr.role_id = #{dto.roleId}
                    <if test="dto.status != null and dto.status != ''">
                        and m.status = #{dto.status}
                    </if>
                    <if test="dto.type != null and dto.type != ''">
                        and m.type = #{dto.type}
                    </if>
                    <if test="dto.name != null and dto.name != ''">
                        and m.name = #{dto.name}
                    </if>
                    UNION ALL
                </if>
                SELECT `id`, `name`, `parent_id`, `chinese_name`, `english_name`, `status`, `type`, `url`, `icon`, `level`, `sort`, `update_time`, `create_time`, `remarks`, null `role_id`
                FROM sys_menu m
                <where>
                    <if test="dto.status != null and dto.status != ''">
                        and m.status = #{dto.status}
                    </if>
                    <if test="dto.type != null and dto.type != ''">
                        and m.type = #{dto.type}
                    </if>
                    <if test="dto.name != null and dto.name != ''">
                        and m.name = #{dto.name}
                    </if>
                </where>
            </when>
            <otherwise>
                SELECT `id`, `name`, `parent_id`, `chinese_name`, `english_name`, `status`, `type`, `url`, `icon`, `level`, `sort`, `update_time`, `create_time`, `remarks`, m.id as role_id
                FROM sys_menu m
                LEFT JOIN sys_menu_role mr on mr.menu_id = m.id
                WHERE mr.role_id = #{dto.roleId}
                <if test="dto.status != null and dto.status != ''">
                    and m.status = #{dto.status}
                </if>
                <if test="dto.type != null and dto.type != ''">
                    and m.type = #{dto.type}
                </if>
                <if test="dto.name != null and dto.name != ''">
                    and m.name = #{dto.name}
                </if>
            </otherwise>
        </choose>
        ) t GROUP BY id
    </select>

    <select id="getMenuChildrens" parameterType="string" resultType="com.tansci.admin.api.domain.SysMenu">
        SELECT * FROM (
            SELECT t1.*, IF(FIND_IN_SET(parent_id, @pids) > 0, @pids := CONCAT(@pids, ',', id), 0) AS ischild
            FROM (SELECT * FROM sys_menu ORDER BY parent_id, id) t1,
            (SELECT @pids := #{id}) t2
        ) t3
        WHERE ischild != 0
    </select>

</mapper>